<div>
  <div class="ms-container-name" translate>basket.title</div>
  <mat-list class="ms-cart-content">
    <div *ngIf="dishesInCart && !dishesInCart.length" translate>basket.empty</div>
    <div class="ms-cart-loader" *ngIf="spinner">
      <mat-spinner></mat-spinner>
    </div>
    <div>
      <mat-list-item *ngFor="let dish of dishesInCart" class="ms-element-cart">
        <img src="{{dish.img}}" width="50px" height="50px">
        <h1>{{dish.name}}</h1>
        <button mat-button (click)="remoteDishFromCart(dish)"><i class="material-icons">clear</i></button>
      </mat-list-item>
      <div class="ms-total-price-cart">
        <p>{{'basket.price' | translate}}:{{ this.totalPrice}}$</p>
      </div>
      <div class="ms-actions-cart" *ngIf="!spinner">
        <button mat-raised-button color="primary"
                [disabled]="!dishesInCart || (dishesInCart && !dishesInCart.length)"
                (click)="openCheckoutModel()"> {{'basket.checkout' | translate}}
        </button>
        <button mat-raised-button color="warn" (click)="clearCart()">{{'basket.clear' | translate}}</button>
      </div>
    </div>

