<div class="ms-container">
  <div class="ms-container-icon">
    <img src="/assets/pickcha.svg">
  </div>
  <div class="ms-container-name">
    <h2>{{'home.feedback.name' | translate}}</h2>
  </div>
  <form class="ms-form-width" [formGroup]="form">
    <mat-form-field class="example-full-width">
      <mat-label>{{'home.feedback.input.name' | translate}}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>{{'home.feedback.input.feedback' | translate}}</mat-label>
      <input matInput placeholder="Ex. It makes me feel..." formControlName="feedback">
    </mat-form-field>
  </form>
  <div class="ms-feedback-action">
    <button mat-button [disabled]="form.invalid || form.disabled" (click)="addFeedback()">Leave</button>
  </div>
</div>
