.ms-container-icon {
  display: flex;
  justify-content: center;
}

.ms-container-name {
  font-family: Monotype Corsiva;
  font-size: 6rem;
  color: saddlebrown;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

img {
  width: 10rem;
  height: 10rem;
}

.ms-field-width {
  width: 40%;
}

.ms-feedback-fields {
  display: flex;
  justify-content: space-around;
}

.ms-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ms-feedback-action {
  margin: auto;
}
