<header class="hat">
  <div class="left-hand-side">
    <div class="info-telephone">
      <i class="material-icons">local_phone</i>
      <p >+99 546 584 26</p>
        </div>
    <div class="info-place">
      <i class="material-icons" align="left">navigation</i>
      <p>16111 Collins Street, Australia</p>
    </div>
  </div>
  <div class="central-side">
    <img src="../../assets/emblem.svg">
  </div>
  <div class="right-hand-side">
    <div class="working-time">
      <i class="material-icons">schedule</i>
      <p >08:00 am - 08:30 pm</p>
    </div>
    <div class="tools-menu">
      <i class="material-icons">thumb_up_alt</i>
      <i class="material-icons">shopping_cart</i>
    </div>
  </div>
</header>
