<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="../../assets/emblema.svg" width="40" height="40" class="d-inline-block align-top" alt="">
  <a class="navbar-brand" href="#">
    {{'home.title' | translate}}
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">{{'home.links.home' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="catalog">{{'home.links.catalog' | translate}}</a>
      </li>
      <li class="nav-item dropdown">
        <select #langselect (change)="translate.use(langselect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
        </select>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about">About</a>
      </li>
    </ul>
    <button mat-button *ngIf="user && user.isAdmin" (click)="goToAdminPage()">Admin page</button>
    <button mat-button (click)="openAccount()">
      <i [ngClass]="{authorization:isAuth}" class="material-icons">account_circle</i>
    </button>
    <button mat-button (click)="openCart()">
      <i class="material-icons" matBadge="{{ countDishInCart }}" matBadgeColor="warn" matBadgePosition="above after"
         matBadgeSize="small"> shopping_cart</i>
    </button>
  </div>
</nav>
