<div class="footer">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6 footer-item">
        <div class="question">
          {{'home.footer.question' | translate}}
        </div>
        <div class="question-item">
          <i class="fas fa-map-marker-alt"></i>
          <span>{{'home.footer.place' | translate}}</span>
        </div>
        <div class="question-item">
          <i class="fas fa-phone-alt"></i>
          <span>{{'home.footer.phone' | translate}}</span>
        </div>
        <div class="question-item">
          <i class="fas fa-envelope"></i>
          <span>{{'home.footer.help-email' | translate}}</span>
        </div>
        <div class="question-item">
          <div class="faq-question">
            {{'home.footer.faq-start' | translate}} <br>
            {{'home.footer.faq-end-start' | translate}} <strong>FAQ</strong> {{'home.footer.faq-end-end' | translate}}
          </div>
        </div>
      </div>

      <div class="col-sm-6 footer-item">
        <div class="label2 label">
          <p>
            {{'home.footer.name' | translate}}
          </p>
        </div>
        <div class="slogan">
          {{'home.footer.slogan' | translate}}
        </div>
      </div>
    </div>
  </div>

  <div class="line"></div>
  <div class="company">@ <span class="light">{{'home.footer.companyName' | translate}}</span>, {{'home.footer.companyMade' | translate}} <span class="light">MS</span>
  </div>
</div>
