<div class="footer">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-6 footer-item">
        <div class="question">
          Have any questions?
        </div>
        <div class="question-item">
          <i class="fas fa-map-marker-alt"></i>
          <span>Belarus, Minsk</span>
        </div>
        <div class="question-item">
          <i class="fas fa-phone-alt"></i>
          <span>+379 88 25 125</span>
        </div>
        <div class="question-item">
          <i class="fas fa-envelope"></i>
          <span>backShop-helper@mail.ru</span>
        </div>
        <div class="question-item">
          <div class="faq-question">
            Maybe somebody have already asked this question. <br>
            See <strong>FAQ</strong> page. Hope, it will help you
          </div>
        </div>
      </div>

      <div class="col-sm-6 footer-item">
        <div class="label">Baking<span>Shop</span></div>
        <div class="slogan">
          Eat a lot, eat tasty!
        </div>
        <div class="socials">
        </div>
      </div>

    </div>
  </div>

  <div class="line"></div>
  <div class="company">@ <span class="light">Baking Shop</span>, 2020. Made with care by <span class="light">MS</span>
  </div>
</div>
