.footer {
  width: 100%;
  min-height: 100px;
  background: #0c0a3b;
  color: #fff;

  strong {
    color: #007bff;
    transition: 0.3s;

    &:hover {
      font-size: 1.2rem;
      text-decoration: underline;
    }
  }

  .footer-item {
    padding: 20px 50px;
  }

  .question {
    text-transform: uppercase;
    color: #007bff;
    font-weight: bold;
    margin: 10px 0;
  }

  .question-item i {
    margin: 6px 0;
    margin-right: 10px;
  }

  .question-item span {
    font-size: 0.9rem;
  }

  .faq-question {
    margin: 10px 0;
    font-size: .9rem;
    color: #fff;
  }

  .label {
    text-align: center;
    font-size: 5rem;
    font-weight: bold;

    span {
      color: saddlebrown;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      margin: 0;
      padding: 0;
      display: flex;

      li {
        list-style: none;
        margin: 0 5px;
      }
    }

    ul li a {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-decoration: none;
      font-size: 30px;
      color: rgba(255, 255, 255, 0.36);
      transition: .5s;
      z-index: 2;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        border-radius: 50%;
        z-index: -1;
        transform: scale(0);
        transition: .5s cubic-bezier(.95, .32, .37, 1.31);
      }

      &:hover:before {
        transform: scale(1);
      }

      &:hover {
        color: #fff;
      }
    }
  }


  .slogan {
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-top: 20px;
  }

  .line {
    width: 95%;
    height: 2px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.44);
  }

  .company {
    padding: 10px 30px 15px;
    color: rgba(255, 255, 255, 0.36);
    font-size: .9rem;
  }

  .light {
    color: rgba(255, 255, 255, 0.77);

    &:hover {
      color: rgba(255, 255, 255, 0.91);
    }
  }
}
