$defaultFont:"Monotype Corsiva";
$defaultTextColor: saddlebrown;

.ms-modal-window {
  width: 1000px;
  height: 600px;
}

.ms-modal-window-close {
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-end;
  transition: .5s;
}

i:hover {
  cursor: pointer;
  transition: 0.5s;
  color: red;
}

@media screen and (max-width: 500px) {
  .ms-modal-window {
    width: 300px;
  }
}

