.ms-checkout-successful {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ms-modal-window-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
