.ms-login-card {
  border: 1px solid black;
  width: 400px;
}

:host {
  display: flex;
  justify-content: center;
  margin: 200px 0;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.ms-button {
  display: flex;
  justify-content: flex-end;
}

button {
  margin-right: 7px;
}
