.ms-container {
  max-width: 100%;
}

mat-card-header {
  display: flex;
  justify-content: center;
}

mat-card-title {
  font-family: Monotype Corsiva;
  font-size: 6rem;
  color: saddlebrown;
  display: flex;
  justify-content: center;
}

.content-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

img {
  width: 10rem;
  height: 10rem;
}
