<div class="container"  >
    <div class="container-icon">
      <img src="/assets/pickcha.svg">
    </div>
    <div class="container-name">
      <h2>Product Menu</h2>
    </div>
  <div class="list-categories" >
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Show All"><div class="content-menu">
        <ms-item-menu *ngFor="let item of productList" [item]="item" >
        </ms-item-menu>
      </div>
      </mat-tab>
      <mat-tab *ngFor="let category of categoriesList" label="{{category.name}}">
        <div class="content-menu">
          <ms-item-menu *ngFor="let item of productList" [item]="item">
        </ms-item-menu>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
