.ms-container {
  max-width: 100%;
  margin-bottom: 10rem;
}

.ms-container-icon {
  display: flex;
  justify-content: center;
}
 .ms-container-name {
  font-family: Monotype Corsiva;
  font-size: 6rem;
  color: saddlebrown;
  display: flex;
  justify-content: center;
}

.content-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ms-content-menu {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:.8rem auto;
  transition: 5s;
  justify-content: space-around;
}

img {
  width: 10rem;
  height: 10rem;
}

.list-categories {
  min-height: 800px;
  transition: 2s;
}

.ms-loading {
  margin: 20rem auto;
}
