<div class="ms-navigate-admin">
  <button mat-button [routerLink]="['/admin/dishes']"
          routerLinkActive="mat-primary">{{'admin-page.buttons.dishes' | translate}}</button>
  <button mat-button [routerLink]="['/admin/categories']"
          routerLinkActive="mat-primary">{{'admin-page.buttons.categories' | translate}}</button>
  <button mat-button [routerLink]="['/admin/reviews']"
          routerLinkActive="mat-primary">{{'admin-page.buttons.reviews' | translate}}</button>
</div>
<router-outlet></router-outlet>
