$defaultFont:"Monotype Corsiva";
$defaultTextColor: saddlebrown;

.ms-container-name {
  color: $defaultTextColor;
  font-family: $defaultFont;
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

.ms-actions-cart {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px
}

.ms-element-cart {
  font-size: 1.5rem;
  margin: 25px 0;
}
