<div class="ms-container-item-details">
  <mat-spinner *ngIf="spinner"></mat-spinner>
  <div class="ms-inner-container-item-details" *ngIf="!spinner">
    <div class="ms-item-details-name">
      <p>{{currentDish.name}}</p>
    </div>
    <div class="ms-main-information">
      <div class="ms-img-item">
        <img mat-card-image class="ms-img-item" src="{{currentDish.img}}" alt="Loading">
      </div>
      <div class="ms-item-details">
        <p>{{'dish-with-details.category' | translate}}: {{currentDish.category.name}}</p>
        <p>{{'dish-with-details.price' | translate}}: {{currentDish.price}}$</p>
        <p>{{'dish-with-details.weight' | translate}}: {{currentDish.weight}}gr</p>
        <p>{{'dish-with-details.composition' | translate}}: {{currentDish.composition}} </p>
      </div>
    </div>
    <div class="ms-item-description">
      <p>{{currentDish.description}}</p>
    </div>
    <div class="ms-item-actions">
      <ms-rating [ratingValue]="currentDish.rating"></ms-rating>
      <button mat-flat-button color="primary" (click)="cartService.addDishToCart(currentDish)"><i
        class="material-icons">
        add_shopping_cart
      </i>{{'dish-with-details.action' | translate}}
      </button>
    </div>
  </div>
</div>
