$defaultFont:"Monotype Corsiva";

.ms-inner-catalog-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .8rem 0 .8rem auto
}

.ms-input-search {
  width: 100%;
}

.ms-helper {
  width: 80%;
  display: flex;
  justify-content: center;
  font-family: $defaultFont;
  font-size: 4rem;
  color: saddlebrown;
}

@media screen and (max-width: 1332px) {
  .ms-catalog-container {
    flex-direction: column;
  }
  .ms-inner-catalog-content {
    justify-content: center;
  }
  .ms-helper {
    width: 100%
  }
}

.ms-catalog-spinner {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
