*{
  outline: none;
}

table {
  width: 100%;
}

.material-icons:hover {
  cursor: pointer;
  transition: 0.5s;
  color: crimson;
}

.load {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
