<mat-card class="ms-login-card">
<mat-card-title>SingUp</mat-card-title>
<mat-card-content>
  <form>
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Login">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" >
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Confirm the password">
      </mat-form-field>

    <div class="ms-button">
      <button type="submit" mat-button >SingUp</button>
    </div>
  </form>
</mat-card-content>
</mat-card>
