<div class="ms-catalog-spinner" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="ms-helper">
  <h1
    *ngIf="!spinner">{{currentCategoryName.charAt(0).toLocaleUpperCase() + currentCategoryName.substr(1).toLocaleLowerCase()}} </h1>
</div>
<mat-form-field class="ms-input-search" *ngIf="!spinner">
  <mat-label>{{'catalog.search-dish-by-category' | translate}}</mat-label>
  <input matInput type="text" [(ngModel)]="searchInput">
  <button mat-button *ngIf="searchInput" matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>
<h1 *ngIf="dishes && !dishes.length && currentCategoryName && !spinner" class="ms-helper">{{'catalog.category-empty' | translate}}</h1>
<div class="ms-inner-catalog-content" *ngIf="!spinner">
  <ms-dish *ngFor="let item of dishes | dishFilter:searchInput;"
           (click)="showDetails(item.category.name.toLowerCase() , item._id)" [item]="item">
  </ms-dish>
</div>
