$defaultFont: "Monotype Corsiva";

.ms-catalog-container {
  max-width: 1980px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ms-navigation-list {
  width: 200px;
  margin: 20px 40px;
  position: fixed;
}

.ms-catalog-content {
  width: 75%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: 9rem;
}

.ms-inner-catalog-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .8rem 0 .8rem auto
}

.ms-input-search {
  width: 100%;
}

.ms-helper {
  width: 80%;
  display: flex;
  justify-content: center;
  font-family: $defaultFont;
  font-size: 4rem;
  color: saddlebrown;
}

@media screen and (max-width: 1332px) {
  .ms-catalog-container {
    flex-direction: column;
  }
  .ms-navigation-list {
    width: 100%;
    height: auto;
    position: inherit;
  }
  .ms-catalog-content {
    margin: auto;
  }
  .ms-inner-catalog-content {
    justify-content: center;
  }
  .ms-helper {
    width: 100%
  }
}

.ms-catalog-spinner {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
