<div class="ms-catalog-spinner" *ngIf="!categories">
  <mat-spinner></mat-spinner>
</div>
<div class="ms-catalog-container">
  <div class="ms-navigation-list">
    <mat-nav-list>
      <mat-list-item *ngFor="let category of categories" routerLink="{{category.name.toLowerCase()}}">
        <img src="assets/emblema.svg" width="40" height="40" class="d-inline-block align-top" alt="">
        <p>
          {{category.name}}
        </p>
      </mat-list-item>
    </mat-nav-list>
  </div>
  <div class="ms-catalog-content">
    <router-outlet></router-outlet>
  </div></div>
