.ms-container {
  max-width: 100%;
}

.ms-container-icon {
  display: flex;
  justify-content: center;
}

.ms-container-name {
  font-family: Monotype Corsiva;
  font-size: 6rem;
  color: saddlebrown;
  display: flex;
  justify-content: center;
}

.ms-content-menu {
  max-width: 1230px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: .8rem auto;
  transition: 5s;
}

img {
  width: 10rem;
  height: 10rem;
}

.list-categories {
  transition: 2s;
}

.ms-loading {
  margin: 20rem auto;
}

@media screen and (max-width: 421px) {
  .ms-content-menu {
    justify-content: center;
  }
}

