<div class="load" *ngIf="!categories">
  <mat-spinner></mat-spinner>
</div>
<div class="ms-name-admin-category">
  <p class="ms-name">Categories</p>
  <button mat-raised-button color="primary" (click)="openModalAddCategory()"><i class="material-icons">
    add
  </i> Add new category</button>
</div>
<table mat-table [dataSource]="categories" *ngIf="categories" class="mat-elevation-z8">
  <div class="load">
    <mat-spinner></mat-spinner>
  </div>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id</th>
    <td mat-cell *matCellDef="let category "> {{category._id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name</th>
    <td mat-cell *matCellDef="let category"> {{category.name}} </td>
  </ng-container>

  <ng-container matColumnDef="deleted">
    <th mat-header-cell *matHeaderCellDef> Delete Action</th>
    <td mat-cell *matCellDef="let category" (click)="deleteCategory(category._id)"><i class="material-icons">
      delete_forever
    </i></td>
  </ng-container>

  <ng-container matColumnDef="update">
    <th mat-header-cell *matHeaderCellDef> Update Action</th>
    <td mat-cell *matCellDef="let category"><i class="material-icons">
      system_update_alt
    </i>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

