$defaultFont: "Monotype";
* {
  outline: none;
}

table {
  width: 100%;
}

.material-icons:hover {
  cursor: pointer;
  transition: 0.5s;
  color: crimson;
}

.load {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ms-name-admin-category {
  display: flex;
  justify-content: space-between;
  margin: 15px 25px;
}

td.mat-cell, td.mat-footer-cell, th.mat-header-cell {
  padding: 22px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: left;
  vertical-align: middle;
}

.mat-header-cell {
  font-size: 15px;
}

.ms-name {
  font-family: $defaultFont;
  font-size: 30px;
}

.ms-empty-message {
  font-family: $defaultFont;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 3rem;
}

.ms-input-block {
  width: 100%;
  display: flex;
  justify-content: center;
}

.ms-input-search {
  width: 50%;
}


