<div class="load" *ngIf="spinner">
  <mat-spinner></mat-spinner>
</div>
<div class="ms-container-name" *ngIf="!spinner">
  <h2>Reviews</h2>
</div>
<div class="ms-reviews" *ngIf="!spinner">
  <p *ngIf="reviews && reviews.length === 0" class="ms-container-name">Reviews is empty</p>
  <mat-card class="ms-feedback-card" *ngFor="let review of reviews">
    <mat-card-header>
      <p>From: {{review.name}}</p>
    </mat-card-header>
    <mat-card-content>
      <p>Review: {{review.feedback}}</p>
    </mat-card-content>
  </mat-card>
</div>
