<div class="ms-container-item-details">
<mat-spinner *ngIf="!currentDish"></mat-spinner>
<div class="ms-inner-container-item-details" *ngIf="currentDish">
  <div class="ms-item-details-name">
    <p>{{currentDish.name}}</p>
  </div>
  <div class="ms-main-information">
    <div class="ms-img-item">
      <img mat-card-image class="ms-img-item" [src]="currentDish.img" alt="Loading">
    </div>
    <div class="ms-item-details">
      <p>Category: {{currentDish.category.name}}</p>
      <p>Price: {{currentDish.price}}$</p>
      <p>Weight: 600gr</p>
      <p>Сomposition: flour, sugar, yeast, baking powder  </p>
    </div>
  </div>
  <div class="ms-item-description">
    <p>Puff pastry made according to a home recipe: honey layers soaked with cream and condensed milk. The dish is served with crispy meringue and carrot and honey puree</p>
  </div>
  <div class="ms-item-actions">
    <ms-rating></ms-rating>
    <button mat-flat-button color="primary"><i class="material-icons">
      add_shopping_cart
    </i>Add to cart</button>
  </div>
</div>
</div>
