<div class="ms-modal-window" >
  <div class="ms-modal-window-close" (click)="closeModal()"><i class="material-icons">
    clear
  </i></div>
  <form>
    <p>
      <mat-form-field>
        <input type="text" matInput placeholder="Username" formControlName="username">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <input type="password" matInput placeholder="Password" formControlName="password">
      </mat-form-field>
    </p>
    <div class="ms-button">
      <button type="submit" mat-button >LogIn</button>
      <button mat-button routerLink="singUp">SingUp</button>
    </div>
  </form>
</div>

