<div class="ms-modal-window">
  <div class="ms-modal-window-close" (click)="closeModal()"><i class="material-icons">
    clear
  </i></div>
  <form [formGroup]="form" (ngSubmit)="addCategory()">
    <mat-form-field class="ms-form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="form.get('name').invalid && form.get('name').touched">
        <span *ngIf="form.get('name').errors['required']">
          Name field cannot be empty
        </span>
        <span *ngIf="form.get('name').errors['pattern']">
          Name field must contain only letters
        </span>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="ms-form-field">
      <mat-label>Code</mat-label>
      <input matInput type="number" formControlName="code">
      <mat-error *ngIf="form.get('code').invalid && form.get('code').touched">
        <span *ngIf="form.get('code').errors['required']">
          Code field cannot be empty
        </span>
      </mat-error>
    </mat-form-field>
    <div class="ms-button">
      <button [disabled]="form.invalid" type="submit" mat-raised-button color="primary">Add category</button>
    </div>
  </form>
</div>

