<div class="ms-modal-window">
  <div class="ms-modal-window-close" (click)="closeModal()"><i class="material-icons">
    clear
  </i></div>
  <form [formGroup]="form" (ngSubmit)="addCategory()">
    <mat-form-field class="ms-form-field">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="ms-form-field">
      <mat-label>Code</mat-label>
      <input matInput type="number" formControlName="code">
    </mat-form-field>
    <div class="ms-button">
      <button type="submit" mat-raised-button color="primary">Add category</button>
    </div>
  </form>
</div>

