.ms-internal-server-page {
  width: 700px;
  height: 500px;
  font-family: "Monotype Corsiva";
  color: saddlebrown;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ms-code-error {
  font-size: 13rem;
  animation: tada 2.5s
}

.ms-description-error {
  font-size: 4rem;
  margin-top: 15px
}

@keyframes tada{
  0% {
    transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  10% {
    transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  20% {
    transform:  rotate(-3deg) scaleX(0.80) scaleY(0.80) ;
  }
  30% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  40% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  60% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  70% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  80% {
    transform:  rotate(-3deg) scaleX(1.20) scaleY(1.20) ;
  }
  90% {
    transform:  rotate(3deg) scaleX(1.20) scaleY(1.20) ;
  }
  100% {
    transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
}


@media screen and(max-width: 600px) {
  .ms-code-error {
    font-size: 7rem;
  }
  .ms-description-error {
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .ms-internal-server-page {
    width: 350px;
  }
  .ms-code-error {
    font-size: 10rem;
  }
  .ms-description-error {
    font-size: 2rem;
  }
}

@media screen and (max-width: 515px ) {
  .ms-internal-server-page {
    width: 200px;
    height: 200px;
  }
  .ms-code-error {
    font-size: 5rem;
  }
  .ms-description-error {
    font-size: 20px;
  }
}
